* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "Source Sans Pro", sans-serif;
  src: url(../assets/fonts/SourceSansPro-Regular.ttf); }

@keyframes rotar {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes pulsar {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(4deg); }
  50% {
    transform: rotate(0deg); }
  75% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(0deg); } }

main {
  min-height: calc(100vh - (78px + 92px));
  background-color: #e3dbcf; }

.colorSombra {
  box-shadow: 0 0 15px 10px #D05074; }
  .colorSombra .detallesTitulos {
    color: #D05074;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 2.5rem;
    font-weight: bold; }

.detallesTitulos2 {
  color: #D05074;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic; }

.textoTitulos {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #D05074;
  font-style: italic; }

.textoGenerales {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem; }

.cardProdCursos {
  background-color: white;
  color: #D05074;
  width: 90%; }
  .cardProdCursos .iconoWhatsappCard {
    font-size: 1.5rem;
    color: #00bb2d; }
  .cardProdCursos .linkFormulario {
    color: #D05074;
    text-decoration: none;
    font-weight: bold; }

.colorFondoNav {
  background-color: #d5748f; }

.logo {
  width: 60px;
  height: 60px; }

.detallesItem {
  font-family: "Source Sans Pro", sans-serif;
  color: aliceblue !important;
  font-size: 1.2rem; }
  .detallesItem:hover {
    text-decoration: underline; }

section .row .card {
  background-color: white;
  border: 6px solid #d5748f;
  padding: 1px;
  box-shadow: 3px 5px 5px rgba(39, 39, 39, 0.836);
  border-radius: 5px; }
  section .row .card .card-body .card-title {
    font-family: "Source Sans Pro", sans-serif;
    color: #D05074;
    font-size: 1.5rem;
    font-weight: bold; }
  section .row .card .card-body .botonCards {
    font-family: "Source Sans Pro", sans-serif;
    padding: 6px;
    font-size: 1rem;
    font-weight: bold;
    color: #d5748f;
    border: 1px solid #d5748f;
    border-radius: 20px; }
    section .row .card .card-body .botonCards:hover {
      color: white;
      background-color: #d5748f; }

.detallesFooter {
  background-color: #D05074;
  color: white;
  line-height: 0.5; }
  .detallesFooter .row .col-12 .icono {
    font-size: 2rem;
    color: white;
    margin: 5px;
    padding: 1px; }
  .detallesFooter .row .col-12 .iconoWhatsapp {
    font-size: 2rem;
    color: white;
    background: #00bb2d;
    margin-top: 1%;
    padding: 3px;
    position: fixed;
    bottom: 40px;
    right: 25px;
    animation-name: rotar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 4s; }

.body_nosotros {
  overflow-x: hidden; }

.detallesNosotros {
  background-color: white !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nombreNosotros {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  color: #d5748f !important;
  font-weight: bold; }

.fraseNosotros {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  color: #d5748f;
  font-style: italic;
  text-align: center; }

.detallesVideos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

section .container .row .animacionProductos {
  animation: pulsar 4s ease-in-out;
  animation-iteration-count: infinite; }

.detallesImgProd {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 50vh;
  background: #EB9EB0;
  border: 6px solid #EB9EB0;
  border-radius: 10px; }

.imgProductos {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0px;
  border: 0.5px solid #EB9EB0; }

section .container .row .cardCursos, section .container .row .cardCursos2, section .container .row .cardCursos3, section .container .row .cardCursos4, section .container .row .cardCursos5, section .container .row .cardCursos6, section .container .row .cardCursos7, section .container .row .cardCursos8, section .container .row .cardCursos9 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  width: 300px;
  height: 400px;
  border-radius: 5px;
  background-image: url(../assets/img/Cursos/1.png);
  background-size: cover;
  box-shadow: 3px 5px 5px rgba(39, 39, 39, 0.836); }
  section .container .row .cardCursos .ImgCursos, section .container .row .cardCursos2 .ImgCursos, section .container .row .cardCursos3 .ImgCursos, section .container .row .cardCursos4 .ImgCursos, section .container .row .cardCursos5 .ImgCursos, section .container .row .cardCursos6 .ImgCursos, section .container .row .cardCursos7 .ImgCursos, section .container .row .cardCursos8 .ImgCursos, section .container .row .cardCursos9 .ImgCursos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center; }
    section .container .row .cardCursos .ImgCursos .titulosCursos, section .container .row .cardCursos2 .ImgCursos .titulosCursos, section .container .row .cardCursos3 .ImgCursos .titulosCursos, section .container .row .cardCursos4 .ImgCursos .titulosCursos, section .container .row .cardCursos5 .ImgCursos .titulosCursos, section .container .row .cardCursos6 .ImgCursos .titulosCursos, section .container .row .cardCursos7 .ImgCursos .titulosCursos, section .container .row .cardCursos8 .ImgCursos .titulosCursos, section .container .row .cardCursos9 .ImgCursos .titulosCursos {
      color: white;
      font-size: 1.8rem;
      text-shadow: 3px 3px 3px rgba(39, 39, 39, 0.836);
      text-shadow: 3px 3px 3px #f75d8b; }
    section .container .row .cardCursos .ImgCursos .programasCursos, section .container .row .cardCursos2 .ImgCursos .programasCursos, section .container .row .cardCursos3 .ImgCursos .programasCursos, section .container .row .cardCursos4 .ImgCursos .programasCursos, section .container .row .cardCursos5 .ImgCursos .programasCursos, section .container .row .cardCursos6 .ImgCursos .programasCursos, section .container .row .cardCursos7 .ImgCursos .programasCursos, section .container .row .cardCursos8 .ImgCursos .programasCursos, section .container .row .cardCursos9 .ImgCursos .programasCursos {
      width: 50%;
      text-decoration: none;
      color: #d5748f;
      font-size: 1.2rem;
      font-style: italic;
      border: 1px solid white;
      border-radius: 5px;
      background: white; }
      section .container .row .cardCursos .ImgCursos .programasCursos:hover, section .container .row .cardCursos2 .ImgCursos .programasCursos:hover, section .container .row .cardCursos3 .ImgCursos .programasCursos:hover, section .container .row .cardCursos4 .ImgCursos .programasCursos:hover, section .container .row .cardCursos5 .ImgCursos .programasCursos:hover, section .container .row .cardCursos6 .ImgCursos .programasCursos:hover, section .container .row .cardCursos7 .ImgCursos .programasCursos:hover, section .container .row .cardCursos8 .ImgCursos .programasCursos:hover, section .container .row .cardCursos9 .ImgCursos .programasCursos:hover {
        text-decoration: underline; }

section .container .row .cardCursos2 {
  background-image: url(../assets/img/Cursos/2.png); }

section .container .row .cardCursos3 {
  background-image: url(../assets/img/Cursos/3.png); }

section .container .row .cardCursos4 {
  background-image: url(../assets/img/Cursos/4.png); }

section .container .row .cardCursos5 {
  background-image: url(../assets/img/Cursos/5.png); }

section .container .row .cardCursos6 {
  background-image: url(../assets/img/Cursos/6.png); }

section .container .row .cardCursos7 {
  background-image: url(../assets/img/Cursos/7.png); }

section .container .row .cardCursos8 {
  background-image: url(../assets/img/Cursos/8.png); }

section .container .row .cardCursos9 {
  background-image: url(../assets/img/Cursos/9.png); }

section .container .colorBordeForm {
  border-color: #EB9EB0 !important; }
  section .container .colorBordeForm .input-group-text {
    background: #EB9EB0; }

section .container .row .col .botonForm {
  background-color: #EB9EB0;
  border-color: #EB9EB0;
  color: white;
  text-shadow: 2px 2px 2px #f75d8b; }
  section .container .row .col .botonForm:hover {
    color: white;
    text-shadow: 2px 2px 2px rgba(39, 39, 39, 0.836); }

.card404 {
  border-color: rgba(255, 255, 255, 0); }

.volverError {
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2rem;
  color: #E54D66;
  font-weight: bold; }

@media screen and (min-width: 992px) {
  .nombreNosotros {
    font-size: 1.5rem; }
  .fraseNosotros {
    font-size: 1rem; }
  .detallesImgProd {
    flex-direction: row;
    min-height: 40vh; }
  .cardProdCursos {
    width: 55%; } }
