*{
    /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Source Sans Pro", sans-serif;
    src: url(../assets/fonts/SourceSansPro-Regular.ttf);
}

/*Header*/

.headerGenerales{
    background-color: #D05074;
    
    width: 100%;
    height: 12vh;
    position: sticky;
    top: 0px;
     
    
}

.logo{
    width: 5%;
    
}

.navGenerales{
    
    width: 36%;
    position: fixed;
    top: 0.8em;
    right: 2px;


  
}

.navEspecificos{
    list-style: none;
    display: inline-block;
    margin: 1%;
    padding: 1%;
    

}

.linkNav{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5%;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}






/*Main*/

.mainGenerales{

      background-color: white;
      margin: auto;
}
    

.tituloCabecera{
   
    font-family: "Source Sans Pro", sans-serif;
    color: #D05074;
    font-size: 3em;
    text-align: center;
    padding: 2%;
    

}

.titulosMain{
    font-family: "Source Sans Pro", sans-serif;
    color: #D05074;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 2%;
}

.textoMain{
    width: 90%;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 1.5em;
    margin: auto;
}



.centrado{
    text-align: center;
}

.cards{

    display: inline-block;
    width: 15%;
    background-color: rgba(236, 82, 108, 0.61);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    

}

.imgCards{
    width: 100%;
}

.botonCards{
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    color: #D05074;
    border-color: rgba(221, 160, 221, 0);
    border-radius: 20px;
}



/*Footer*/

.footerGenerales{
    background-color: #D05074;
    height: 17vh;
    text-align: center;
    

    /*falta alinear al centro y sacar el icono de wsp del footer*/
}

.imgRedes{
    width: 2%;
    margin-top: 1%;
    
    
}

.imgWhatsapp{
    position:fixed;
    bottom: 30px;
    right: 40px;

}

.textoFooter{
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-size: 1em;
    
}
