.colorFondoNav{
    background-color: $color-rosa-primario;
}

.logo{
        width: 60px;
        height: 60px;
}
.detallesItem{
    font-family: $fuente;
    color: $color-fuente-header;
    font-size: map-get($tamanos-fuentes,rem-1-2);
    &:hover{
        text-decoration: underline;
    }
}
   



