@media screen and (min-width: 992px){
    .nombreNosotros{
        font-size: map-get($tamanos-fuentes,rem-1-5);
    }
    .fraseNosotros{
        font-size: map-get($tamanos-fuentes,rem-1);
    }
    .detallesImgProd{
        flex-direction: row;
        min-height: 40vh;      
    }
    .cardProdCursos{
        width: 55%;
    }
}