$fuente: "Source Sans Pro", sans-serif;

$tamanos-fuentes: (
    rem-1: 1rem,
    rem-1-2: 1.2rem,
    rem-1-5: 1.5rem,
    rem-1-8: 1.8rem,
    rem-2: 2rem,
    rem-2-5: 2.5rem
);

$color-rosa-primario: #d5748f;
$color-rosa-secundario: #D05074;
$color-rosa-terciario: #EB9EB0;
$color-main: rgb(227, 219, 207);
$color-fondo-blanco: white;
$color-sombra-oscuro: rgba(39, 39, 39, 0.836);
$color-sombra-rosado: #f75d8b;


$color-fuente-header: aliceblue!important;
$color-fuente-blanco: white;


$color-icono-whatsapp: #00bb2d;




